<div class="strip">

  {% for block in section.blocks %}
    
    {% if block.type == 'item' %}

      <span {{ block.shopify_attributes }}>
        {{ block.settings.text }}
      </span>

      {% unless forloop.last %}
        <span class="dot">·</span>
      {% endunless %}

    {% endif %}

  {% endfor %}

</div>

{% schema %}
  {
    "name": "Top Strip",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "item",
        "name": "Strip Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Top Strip",
        "blocks": [
          {
            "type": "item",
            "settings": {
              "text": "Designed by a practicing cosmetic dentist. Not a factory."
            }
          }, {
            "type": "item",
            "settings": {
              "text": "Free shipping both ways"
            }
          }, {
            "type": "item",
            "settings": {
              "text": "30-day money-back guarantee"
            }
          }
        ]
      }
    ]
  }
{% endschema %}