<style>
  .main-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
</style>

<section>
  <div class="wrap">
    <div class="main-header">
      <h1 class="main-tile">Page Title</h1>
      <div class="update-parts">
        <div class="update-part update-part-1">
          <p>Effective Date: <span> June 18, 2026</span></p>
        </div>

        <div class="update-part update-part-2">
          <p>Last Updated: <span> June 14, 2026</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
