<div
  style="
    background: #1b2d5c;
    color: #e7eaf2;
    text-align: center;
    padding: 9px 18px;
    font-size: 11.5px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-weight: 500;
    flex-shrink: 0;
  "
>
  Designed by cosmetic dentist Dr. Brandon Turley, DDS
</div>
<header
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 16px;
    flex-shrink: 0;
  "
>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
    "
  >
    <span
      style="
        font-weight: 800;
        font-size: 25px;
        letter-spacing: 0.01em;
        color: #0b3e88;
      "
      >REViVE</span
    >
    <span
      style="
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 0.4em;
        color: #2fa6f2;
        margin-top: 3px;
        padding-left: 0.4em;
      "
      >TEETH</span
    >
  </div>
</header>
